[Unit]
Description=Background Music Player
RequiresMountsFor=/music

[Service]
ExecStart=/usr/local/bin/bgm start
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
